@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --verde-claro: #99C120;
    --verde: #1C8835;
    --verde-escuro: #165D26;
    --branco: #FFFFFF;
    --preto: #000000;
    --bg-about: linear-gradient(180deg, #155C25 0%, #9FC51F 100%);
    --bg-depoimentos: linear-gradient(180deg, #155C25 8.33%, #9FC51F 100%);
    --botao: #022F0A;


}


.titulo {
    font-size: 40px;
    font-weight: 900;
}

.subtitulo {
    font-size: 30px;
    font-weight: 700;
}

.medium {
    font-size: 20px;
    font-weight: 500;
}

.fonte-verde {
    color: var(--verde);
}

.fonte-branco {
    color: var(--branco);
}

.sup {
    display: flex;
    flex-direction: column;
    align-items: center;
}